* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 100%;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
}

.instagram-phone img {
    height: 43rem;
}

.instagram-continue {
    display: flex;
    align-items: end; 
    justify-content: center;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 75%;
    padding: 2rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    font-size: smaller;
    font-weight: bold;

    padding: 7px;
    border-radius: 4px;
    width: 220px;
    margin-top: 20px;
    text-align: center;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
    font-weight: bold;
    font-size: small;
}

p {
    margin-top: 30px;
    font-size: small;
}

footer {
    width: 700px;
    justify-content: center;
    margin: auto;
    font-size: 5px;
    text-align: center;
    margin-top: 20px;

}

#footerlabel-container {
    margin-bottom: 50px;
    margin-top: 20px;
}

.footer-links {
    margin: 5px;
    color: gray;
    font-size: 11px;
}

#footer-label {
    margin-left: 15px;
    color: gray;
    font-size: 11px;
}


/* media queries */
@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}